<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Master</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/smartphone.png">
    <link href="../lightbox2-2.11.5/lightbox2-2.11.5/dist/css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../slick-1.8.1/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../slick-1.8.1/slick-1.8.1/slick/slick-theme.css">
    
</head>
<body>

    <!--Header / Barra de Navegacion-->
    <header>
        <div class="logo"><h1>Tech Master</h1>
            <img src="../images/smartphone.png" alt="logo_image" width="512" height="512">
        </div>
        <div class="navbar">
            <ul class="navegacion">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html" class="active">Galeria</a></li>
                <li><a href="./mapa.html">Mapa</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>

            </ul>
        </div>


    </header>

    <!--Galeria Fotos-->
    <main>
        
        <div class="titulogaleria"><h2>Tenemos los ultimos modelos del mercado y los que ya estan por salir</h2></div>
        
        <!--Seccion Modelos Recientes-->
        <div class="galeriaout">
            <h3>Modelos Recientes</h3>
            <div class="galeriain">
                <div><a href = '../images/galeria1/galeria1-1-2754-4075.jpg' data-lightbox = 'galeria1' data-title="Modelo G1-1"><img src="../images/galeria1/galeria1-1-2754-4075.jpg" alt="gal1tel1" width="2754" height="4075"></a></div>
                <div><a href = '../images/galeria1/galeria1-2-2848-4272.jpg' data-lightbox = 'galeria1' data-title="Modelo G1-2"><img src="../images/galeria1/galeria1-2-2848-4272.jpg" alt="gal1tel2" width="2848" height="4272"></a></div>
                <div><a href = '../images/galeria1/galeria1-3-3048-4286.jpg' data-lightbox = 'galeria1' data-title="Modelo G1-3"><img src="../images/galeria1/galeria1-3-3048-4286.jpg" alt="gal1tel3" width="3048" height="4286"></a></div>
                <div><a href = '../images/galeria1/galeria1-4-2800-4200.jpg' data-lightbox = 'galeria1' data-title="Modelo G1-4"><img src="../images/galeria1/galeria1-4-2800-4200.jpg" alt="gal1tel4" width="2800" height="4200"></a></div>
               <div><a href = '../images/galeria1/galeria1-5-2304-3456.jpg' data-lightbox = 'galeria1' data-title="Modelo G1-5"><img src="../images/galeria1/galeria1-5-2304-3456.jpg" alt="gal1tel5" width="2304" height="3456"></a></div>
               <div><a href = '../images/galeria1/galeria1-6-4000-5000.jpg' data-lightbox = 'galeria1' data-title="Modelo G1-6"><img src="../images/galeria1/galeria1-6-4000-5000.jpg" alt="gal1tel6" width="4000" height="5000"></a></div>

            </div>
        </div>

        <div class="galeriaout">
            <!--Seccion Anticipados-->
            <h3>Los mas anticipados</h3>
            <div class="galeriain">
                <div><a href = '../images/galeria2/galeria2-1-4016-6016.jpg' data-lightbox = 'galeria2' data-title="Modelo G2-1"><img src="../images/galeria2/galeria2-1-4016-6016.jpg" alt="gal2tel1" width="4016" height="6016"></a></div>
                <div><a href = '../images/galeria2/galeria2-2-2160-6840.jpg' data-lightbox = 'galeria2' data-title="Modelo G2-2"><img src="../images/galeria2/galeria2-2-2160-6840.jpg" alt="gal2tel2" width="2160" height="6840"></a></div>
                <div><a href = '../images/galeria2/galeria2-3-3892-5838.jpg' data-lightbox = 'galeria2' data-title="Modelo G2-3"><img src="../images/galeria2/galeria2-3-3892-5838.jpg" alt="gal2tel3" width="3892" height="5838"></a></div>
                <div><a href = '../images/galeria2/galeria2-4-3952-5928.jpg' data-lightbox = 'galeria2' data-title="Modelo G2-4"><img src="../images/galeria2/galeria2-4-3952-5928.jpg" alt="gal2tel4" width="3952" height="5928"></a></div>
               <div><a href = '../images/galeria2/galeria2-5-4000-6000.jpg' data-lightbox = 'galeria2' data-title="Modelo G2-5"><img src="../images/galeria2/galeria2-5-4000-6000.jpg" alt="gal2tel5" width="4000" height="6000"></a></div>
               <div><a href = '../images/galeria2/galeria2-6-3358-5037.jpg' data-lightbox = 'galeria2' data-title="Modelo G2-6"><img src="../images/galeria2/galeria2-6-3358-5037.jpg" alt="gal2tel6" width="3358" height="5037"></a></div>

            </div>
        </div>

        <div class="galeriaout">
            <!--Seccion Top Ventas-->
            <h3>Top Ventas</h3>
            <div class="galeriain">
                <div><a href = '../images/galeria3/galeria3-1-2080-3120.jpg' data-lightbox = 'galeria3' data-title="Modelo G3-1"><img src="../images/galeria3/galeria3-1-2080-3120.jpg" alt="gal2tel1" width="2080" height="3120"></a></div>
                <div><a href = '../images/galeria3/galeria3-2-2160-3840.jpg' data-lightbox = 'galeria3' data-title="Modelo G3-2"><img src="../images/galeria3/galeria3-2-2160-3840.jpg" alt="gal2tel2" width="2160" height="3840"></a></div>
                <div><a href = '../images/galeria3/galeria3-3-3786-5679.jpg' data-lightbox = 'galeria3' data-title="Modelo G3-3"><img src="../images/galeria3/galeria3-3-3786-5679.jpg" alt="gal2tel3" width="3786" height="5679"></a></div>
                <div><a href = '../images/galeria3/galeria3-4-3643-5464.jpg' data-lightbox = 'galeria3' data-title="Modelo G3-4"><img src="../images/galeria3/galeria3-4-3643-5464.jpg" alt="gal2tel4" width="3643" height="5464"></a></div>
               <div><a href = '../images/galeria3/galeria3-5-3648-5472.jpg' data-lightbox = 'galeria3' data-title="Modelo G3-5"><img src="../images/galeria3/galeria3-5-3648-5472.jpg" alt="gal2tel5" width="3648" height="5472"></a></div>
               <div><a href = '../images/galeria3/galeria3-6-4480-6720.jpg' data-lightbox = 'galeria3' data-title="Modelo G3-6"><img src="../images/galeria3/galeria3-6-4480-6720.jpg" alt="gal2tel6" width="4480" height="6720"></a></div>

            </div>
        </div>



    </main>

     <!--Footer-->

    <footer>
        <div class="rrss">
            <a href="https://www.facebook.com"><img src="../images/rrss/log-facebook2.svg" alt="logo facebook" width="800" height="800"></a>
            <a href="https://www.instagram.com"><img src="../images/rrss/logo-instagram2.svg" alt="logo instagram" width="150" height="150"></a>
            <a href="https://www.youtube.com"><img src="../images/rrss/logo-youtube.svg" alt="logo youtube" width="800" height="800"></a>


        </div>

     <p>Todos los derechos reservados <br>
        C. de San Bernardo, 10, Centro, 28015 Madrid, España <br>
        © Tech Master
    </p>
    </footer>

    <!--JavaScript - jQuery - Slick-->
    <script src="../lightbox2-2.11.5/lightbox2-2.11.5/dist/js/lightbox-plus-jquery.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js'></script>
<script src="../js/script.js">

</script>
</body>
</html>