<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Master</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/smartphone.png">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <!-- Leaflet Routing Machine CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    



</head>
<body>
     <!--Header / Barra de Navegacion-->
    <header>
        <div class="logo"><h1>Tech Master</h1>
            <img src="../images/smartphone.png" alt="logo_image" width="512" height="512">
        </div>
        <div class="navbar">
            <ul class="navegacion">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galeria</a></li>
                <li><a href="./mapa.html" class="active">Mapa</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
            </ul>
        </div>


    </header>

    <main>
         <!--Section Contactos-->
        <div class="contacto">
            
            <div class="contacto_sub">
                <div class="contacto_sub2">
                    <h2>Contactanos</h2>
            <div class="contacto_datos">
                <img src="../images/pin-map.png" alt="map pin icon" height="512" width="512">
                <p>Direccion: C. de San Bernardo, 10, Centro, 28015 Madrid, España </p>
            </div>

            <div class="contacto_datos">
                <img src="../images/icon-cellphone.png" alt="map pin icon" height="512" width="512">
                <p>Telefono: 123-456789 </p>
            </div>

            <div class="contacto_datos">
                <img src="../images/email-icon.png" alt="map pin icon" height="512" width="512">
                <p>Correo: Techmaster123@yahoo.com </p>
            </div>
        </div>

         <!--Mapa-->
            <div class="mapa" id="cajamapa">
                
            </div>
        </div>
        </div>

    

    </main>

     <!--Footer-->
    <footer>
        <div class="rrss">
            <a href="https://www.facebook.com"><img src="../images/rrss/log-facebook2.svg" alt="logo facebook" width="800" height="800"></a>
            <a href="https://www.instagram.com"><img src="../images/rrss/logo-instagram2.svg" alt="logo instagram" width="150" height="150"></a>
            <a href="https://www.youtube.com"><img src="../images/rrss/logo-youtube.svg" alt="logo youtube" width="800" height="800"></a>


        </div>

     <p>Todos los derechos reservados <br>
        C. de San Bernardo, 10, Centro, 28015 Madrid, España <br>
        © Tech Master
    </p>
    </footer>
    
        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
        <!-- jQuery -->
        <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>


    <!-- Leaflet Routing Machine JS -->
     <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
   <!-- JavaScript -->
   <script src="../js/script.js">
        
    </script>
</body>
</html>